*.o                                                                             
bms2A                                                                           
bms2B                                                                           
.idea                                                                           
CMakeLists.txt                                                                  
cmake-build-debug                                                               
data*
